@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light theme */
  --background: 0 100% 100%;
  --background-pattern: 225 100% 98%;
  --card: 227 47% 96%;
  --foreground: 230 17% 14%;
  --muted-foreground: 228 12% 44%;
  --toggle: 230 22% 74%;

  /* Global colors*/
  --brand-red: 365 69% 56%;
  --brand-green: 163 72% 41%;
  --facebook-border: 208 92% 53%;
  --twitter-border: 203 89% 53%;
  --youtube-border: 348 97% 39%;
}

.dark {
  /* Dark theme */
  --background: 230 17% 14%;
  --background-pattern: 232 19% 15%;
  --card: 228 28% 20%;
  --foreground: 0 100% 100%;
  --muted-foreground: 230 22% 74%;
}

.service-border {
  position: relative;
}

.service-border:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: 0.5rem 0.5rem 0 0;
}

.border-facebook::before {
  background: hsl(var(--facebook-border));
}

.border-twitter::before {
  background: hsl(var(--twitter-border));
}

.border-youtube::before {
  background: hsl(var(--youtube-border))
}

.border-instagram::before {
  background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(5, 77%, 71%), hsl(329, 70%, 58%));
}
